@using Hastane.Utilities;
@model PagedResult<Hastane.ViewModels.ApplicationUserViewModel>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<h2>Kullanıcı Listesi</h2>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">İsim</th>
            <th scope="col">Email</th>
            <th scope="col">Cinsiyet</th>
            <th scope="col">Adres</th>
            <th scope="col">Doğum Tarihi</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
            <tr class="table-@((item.Id % 2 == 0) ? "danger" : "active")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-primary btn-sm" role="button">Düzenle</a>
                <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-primary btn-sm" role="button">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
<cs-pager cs-paging-pagesize=(int)Model.PageSize
          cs-paging-pagenumber=(int)Model.PageNumber
          cs-paging-totalitems=(int)Model.TotalItems
          cs-pagenumber-param="pageNumber"
          asp-controller="Users"

          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">
</cs-pager>