@model IEnumerable<Hastane.ViewModels.RandevuViewModel>

@{
    ViewData["Title"] = "Randevularım";
}

<br>
<br>
<h2>Randevularım</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Hasta Email</th>
            <th scope="col">Randevu Tarihi</th>
            <th scope="col">Doktor Id</th>
            <th scope="col">Açıklama</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-@((item.Id % 2 == 0) ? "light" : "active")">
            <td>
                @item.HastaEmail
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@Url.Action("RandevuIptal", new { randevuId = item.Id })" class="btn btn-primary btn-sm" role="button">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("RandevuAl")'">Yeni Randevu Al</button>
</p>