@using Hastane.Utilities;
@model PagedResult<Hastane.ViewModels.ClinicViewModel>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<h2>Poliklinikler</h2>
<br>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Poliklinik No</th>
            <th scope="col">Durumu</th>
            <th scope="col">Ana Bilim Dalı</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
            <tr class="table-@((item.Id % 2 == 0) ? "danger" : "active")">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-primary btn-sm" role="button">Düzenle</a>
                    <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-primary btn-sm" role="button">Sil</a>
                </td>
        </tr>
}
    </tbody>
</table>

<p>
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Create")'">Yeni Oluştur</button>
</p>

<cs-pager cs-paging-pagesize=(int)Model.PageSize
          cs-paging-pagenumber=(int)Model.PageNumber
          cs-paging-totalitems=(int)Model.TotalItems
          cs-pagenumber-param="pageNumber"
          asp-controller="Clinics"

          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">
</cs-pager>